button{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: cadetblue;
    background-color: antiquewhite;
}
button:hover{
    color: rgb(202, 31, 200);
  
}
.topnav{
    padding: 20px;
    background-color: grey;
    display: block;
}